body {
  margin: auto;
  width: 600px;
  padding-top: 10px;
}
header {
  border: 1px solid lightgrey;
  margin: 0;
  padding: 16px 8px 16px 80px;
  height: 40px;
  font-size: 40px;
  box-shadow: 3.2px 3.2px 8px lightgray;
  background: whitesmoke;
  border-color: #222;
  color: lightgrey;
  background: #333;
  background: linear-gradient(to bottom, #444444, #222222);
  background: -moz-linear-gradient(top, #444444, #222222);
  background: -webkit-linear-gradient(top, #444444, #222222);
  border-radius: 8px 8px 0 0;
}
header h1 {
  font-size: 100%;
  margin: 0;
}
.new-todo {
  border: 1px solid lightgrey;
  margin: 0;
  padding: 16px 8px 16px 80px;
  height: 40px;
  font-size: 40px;
  box-shadow: 3.2px 3.2px 8px lightgray;
  background: whitesmoke;
}
.todo-title {
  height: 40px;
  font-size: 40px;
  outline: 0;
  border: none;
  background: transparent;
}
.todo-title::-moz-placeholder {
  color: lightgray;
}
.todo-title::-webkit-input-placeholder {
  color: lightgray;
}
.todos {
  list-style: none;
  padding: 0;
  margin: 0;
}
.todo {
  border: 1px solid lightgrey;
  margin: 0;
  padding: 16px 8px 16px 80px;
  height: 40px;
  font-size: 40px;
  box-shadow: 3.2px 3.2px 8px lightgray;
  background: whitesmoke;
}
.todo-done label {
  color: darkgrey;
}
.todo input[type=checkbox] {
  display: none;
}
.todo input[type=checkbox] + label {
  position: relative;
}
.todo input[type=checkbox] + label:before {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 2px;
  left: -56px;
  content: '';
  border: 3.2px solid lightgray;
  display: block;
}
.todo input[type=checkbox] + label:after {
  font-size: 56px;
  color: green;
  position: absolute;
  top: -14px;
  left: -58px;
  content: '✔';
  display: block;
  opacity: 0;
}
.todo input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.todo-operation {
  float: right;
}
.todo-operation button {
  font-size: 32px;
  background: transparent;
  border: none;
  outline: none;
  color: lightgrey;
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 4px;
}
.todo-operation-edit:hover {
  color: darkblue;
}
.todo-operation-delete:hover {
  color: darkred;
}
footer {
  border: 1px solid lightgrey;
  margin: 0;
  padding: 16px 8px 16px 80px;
  height: 40px;
  font-size: 40px;
  box-shadow: 3.2px 3.2px 8px lightgray;
  background: whitesmoke;
  border-color: #222;
  color: lightgrey;
  background: #333;
  background: linear-gradient(to bottom, #444444, #222222);
  background: -moz-linear-gradient(top, #444444, #222222);
  background: -webkit-linear-gradient(top, #444444, #222222);
  font-size: 20px;
  padding: 0 0 16px;
  border-radius: 0 0 8px 8px;
  text-align: right;
  color: darkgray;
}
footer .filter {
  margin: 0;
  padding: 0;
}
footer .filter-selected {
  color: lightgrey;
  font-weight: bold;
}
footer .filter li {
  display: inline-block;
  padding: 16px;
}
footer .filter li:hover {
  color: whitesmoke;
}
footer address {
  margin-top: 16px;
  margin-right: 8px;
}
address {
  font-size: 16px;
}
[contenteditable="true"] {
  outline: none;
  border: 1px solid grey;
  background: white;
  box-shadow: 0 0 10px lightgrey inset;
  display: inline-block;
  width: calc(100% - ( 40px  * 2));
}
